<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./core/style.css">
<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:700" rel="stylesheet">
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
-->
<script src="libs/jquery.min.js"></script>
<script src="libs/angular.min.js"></script>
<script src="libs/angular-animate.js"></script>
<script src="libs/angular-sanitize.js"></script>

</head>
<body style="background-color:#ffffff;width:100vw;overflow-x:hidden;">
<div ng-app="myApp">
<div ng-controller="MyController" ng-cloak>

<div style="margin-top:-8px;">
<span class="tab" ng-click="tab='stats'" ng-class="{'activetab':tab=='stats'}">Stats</span>
<span class="tab" ng-click="tab='abilities'" ng-class="{'activetab':tab=='abilities'}">Abilities</span>
<span class="tab" ng-click="tab='equipment'" ng-class="{'activetab':tab=='equipment'}">Equipment</span>
<span class="tab" ng-click="tab='spells';loadSpells()" ng-class="{'activetab':tab=='spells'}">Spells</span>
<span class="tab" ng-click="tab='combat';loadSpells()" ng-class="{'activetab':tab=='combat'}">Combat</span>
<span class="tab" ng-click="tab='notes'" ng-class="{'activetab':tab=='notes'}">Notes</span>
<span class="tab" ng-click="tab='reference'" ng-class="{'activetab':tab=='reference'}">Reference</span>
<!--
<span class="tab" ng-click="tab='raw'" ng-class="{'activetab':tab=='raw'}">Raw</span>
<!-- -->
</div>

<div ng-show="tab=='stats'">

<table style="width:100%;"><tbody><tr>
<td style="width:100px;">
<div class="attrbox" style="text-align:center;">
<label><span class='label'>STR</span>
<br>
<span class='attrmod'>{{derived.modifiers.str}}</span>
<br>
<input type='text' class='attrbase' ng-model='char.attributes.str' number ng-change='calculate()'/>
</label></div>

<div class="attrbox" style="text-align:center;">
<label><span class='label'>DEX</span>
<br>
<span class='attrmod'>{{derived.modifiers.dex}}</span>
<br>
<input type='text' class='attrbase' ng-model='char.attributes.dex' number ng-change='calculate()'/>
</label></div>

<div class="attrbox" style="text-align:center;">
<label><span class='label'>CON</span>
<br>
<span class='attrmod'>{{derived.modifiers.con}}</span>
<br>
<input type='text' class='attrbase' ng-model='char.attributes.con' number ng-change='calculate()'/>
</label></div>

<div class="attrbox" style="text-align:center;">
<label><span class='label'>INT</span>
<br>
<span class='attrmod'>{{derived.modifiers.int}}</span>
<br>
<input type='text' class='attrbase' ng-model='char.attributes.int' number ng-change='calculate()'/>
</label></div>

<div class="attrbox" style="text-align:center;">
<label><span class='label'>WIS</span>
<br>
<span class='attrmod'>{{derived.modifiers.wis}}</span>
<br>
<input type='text' class='attrbase' ng-model='char.attributes.wis' number ng-change='calculate()'/>
</label></div>

<div class="attrbox" style="text-align:center;">
<label><span class='label'>CHA</span>
<br>
<span class='attrmod'>{{derived.modifiers.cha}}</span>
<br>
<input type='text' class='attrbase' ng-model='char.attributes.cha' number ng-change='calculate()'/>
</label></div>

</div>
</td>

<td style="width:700px;vertical-align:top;">
<table style="width:100%">
	<tr>
		<td style="width:150px;text-align:center;">
			<div>
				<label>
					<span class='label'>Level</span><br>
					<input type='text' class='statbox' ng-model='char.level' number />
				</label>
			</div>
			<span class="button" ng-hide="char.level>=20" ng-click="levelUpStart()">Level Up</span>
		</td>
		<td style="width:100px;text-align:center;">
			<div class="acbox">
				<label>
					<br>
					<span class='label'>AC</span>
					<br>
					<input type='text' style="font-size:2.2em;background-color:rgba(0,0,0,0)" class='statmod' ng-model='char.ac'/>
				</label>
			</div>
		</td>
		<td style="width:150px;text-align:center;">
			<label>
				<span class='label'>Proficiency<br>Bonus</span><br>
				<input type='text' class='statbox' disabled ng-model='derived.proficiency'/>
			</label>
		</td>
		<td style="width:150px;text-align:center;">
			<label>
				<span class='label'>Initiative<br>Bonus</span><br>
				<input type='text' class='statbox' ng-model='derived.initiative'/>
			</label>
		</td>
		<td style="width:150px;text-align:center;">
			<label>
				<span class='label'>Move<br>Speed</span><br>
				<input type='text' class='statbox' ng-model='char.speed'/>
			</label>
		</td>
	</tr>
</table>
<table>
<tr>
	
<td colspan=2 class="top" style="min-width:160px;">
<br>
<div class='label' style='text-align:left;'>Skills</div>
<div ng-repeat="skill in derived.skills">
	<span ng-show="skill.mult===0" class='redx' ng-click="toggleSkillProf(skill.name);">&#x2716;</span>
	<span ng-show="skill.mult===1" class='greenx' ng-click="toggleSkillProf(skill.name);">&#x2714;</span>
	<span ng-show="skill.mult===2" class='greenx' ng-click="toggleSkillProf(skill.name);">&#x271A;</span>
	<span style="font-weight:bold;font-size:1.3em;"> {{skill.bonus}}</span> {{skill.name}}
</div>
</td>

<td style="padding-left:20px;" class="top">
<br><br>
<div>
	<table style="border:1px solid black;width:180px;"><tr>
		<td>
			<span class="bordertitle label">Hit Points</span>
			<div class="label" style="padding:8px 10px">
				<input type='text' class='hidden right' ng-model='char.hp' number/>
				<span>&nbsp;/&nbsp;</span>
				<input type='text' class='hidden left' disabled ng-model='derived.maxHp' number/>
				</div>
		</td>
	</tr></table>
</div>
<br>
<br>

<div class='label' style='text-align:left;'>Saving Throws</div>
<span ng-show='char.saves.str===0' class='redx' ng-click='char.saves.str=1;calculate();'>&#x2716;</span>
<span ng-show='char.saves.str===1' class='greenx' ng-click='char.saves.str=0;calculate();'>&#x2714;</span>
<span style="font-weight:bold;font-size:1.3em;"> {{derived.saves.str}}</span> Strength
<br>
<span ng-show='char.saves.dex===0' class='redx' ng-click='char.saves.dex=1;calculate();'>&#x2716;</span>
<span ng-show='char.saves.dex===1' class='greenx' ng-click='char.saves.dex=0;calculate();'>&#x2714;</span>
<span style="font-weight:bold;font-size:1.3em;"> {{derived.saves.dex}}</span> Dexterity
<br>
<span ng-show='char.saves.con===0' class='redx' ng-click='char.saves.con=1;calculate();'>&#x2716;</span>
<span ng-show='char.saves.con===1' class='greenx' ng-click='char.saves.con=0;calculate();'>&#x2714;</span>
<span style="font-weight:bold;font-size:1.3em;"> {{derived.saves.con}}</span> Constitution
<br>
<span ng-show='char.saves.int===0' class='redx' ng-click='char.saves.int=1;calculate();'>&#x2716;</span>
<span ng-show='char.saves.int===1' class='greenx' ng-click='char.saves.int=0;calculate();'>&#x2714;</span>
<span style="font-weight:bold;font-size:1.3em;"> {{derived.saves.int}}</span> Intelligence
<br>
<span ng-show='char.saves.wis===0' class='redx' ng-click='char.saves.wis=1;calculate();'>&#x2716;</span>
<span ng-show='char.saves.wis===1' class='greenx' ng-click='char.saves.wis=0;calculate();'>&#x2714;</span>
<span style="font-weight:bold;font-size:1.3em;"> {{derived.saves.wis}}</span> Wisdom
<br>
<span ng-show='char.saves.cha===0' class='redx' ng-click='char.saves.cha=1;calculate();'>&#x2716;</span>
<span ng-show='char.saves.cha===1' class='greenx' ng-click='char.saves.cha=0;calculate();'>&#x2714;</span>
<span style="font-weight:bold;font-size:1.3em;"> {{derived.saves.cha}}</span> Charisma

<br><br><br>
<table><tr><td>Copper:</td><td>
	<span class='subtract noselect' ng-click="decrCopper()">-</span>
	<span class='money'>{{getCopper()}}</span>
	<span class='add noselect' ng-click="incrCopper()">&#x271A;</span></td></tr>
<tr><td>Silver:</td><td>
	<span class='subtract noselect' ng-click="decrSilver()">-</span>
	<span class='money' >{{getSilver()}}</span>
	<span class='add noselect' ng-click="incrSilver()">&#x271A;</span></td></tr>
<tr><td>Gold:</td><td>
	<span class='subtract noselect' ng-click="decrGold()">-</span>
	<span class='money' >{{getGold()}}</span>
	<span class='add noselect' ng-click="incrGold()">&#x271A;</span></td></tr>
<tr>
<td colspan=2 style="text-align:right;">
	<form ng-submit="spendGold()">
		<input type="text" style="width:75%" ng-model="spendGoldInput" placeholder="Spend Gold..." />
	</form>
</td>
</tr>
</table>


</td>
<td class="top" style="padding-left:30px;width:250px;">
<br>
	<div class="label center">Passives</div>
	<input type="text" ng-model='passiveFilter' placeholder="Search..."/>
	<div class="item greenback" ng-mouseenter="setTip(item)" ng-mouseleave="clearTip()"
			ng-repeat="item in char.passives | filter:passiveFilter | orderBy:'name' track by $index">
			{{item.name}}
	</div>
</td>

</tr>
</table>
</td>

<td style="vertical-align:top;">
<span class="button" ng-click="showSaveMenu=true;">Save/Load</span>
<br><br><br>
<br><br>
<div style="padding:10px;border:1px solid black;">
	<span class="label bordertitle" style="margin-top:-24px;">Add Passive Ability</span>
	<label>Name
		<input type="text" ng-model="newpassive.name" ng-change="checkForPassives(newpassive.name)"/>
	</label>
	<br>
	<label>Description
	<textarea class="descriptionbox" ng-model="newpassive.description" style="width:100%;min-height:400px;max-height:400px;"></textarea>
	</label>
	<button ng-click="addPassive(newpassive)">Add to Passives</button>
	<br>
	<button style="display:none"></button>
	</div>
</td>

</tr></tbody></table>
</div>


<div ng-show="tab=='abilities'">
<table style="width:100%;">
<thead class="header"><tr>
<th>Available</th>
<th>Exhausted</th>
<th>Add Ability</th>
<th colspan=2>Description</th>
</tr></thead>
<tbody><tr>
<td width="20%" style="vertical-align:top;">
	<div class="leftmenu">
		<div class="greenback item" ng-repeat="item in char.abilities | orderBy:'name' track by $index"
				ng-click="decrementCharges(item)"
				ng-if="item.charges>0"
				ng-mouseenter="setTip(item)" ng-mouseleave="clearTip()">
			<span style="font-weight:bold;">{{item.name}}</span>
			<span>({{item.charges}})</span>
		</div>
	</div>
</td>

<td width="20%" style="vertical-align:top;">
	<div class="leftmenu">
		<div class="redback item" ng-repeat="item in char.abilities | orderBy:'name' track by $index"
				ng-click="addCharge(item)" 
				ng-if="item.maxCharges-item.charges>0"
				ng-mouseenter="setTip(item)" ng-mouseleave="clearTip()">
			<span style="font-weight:bold;">{{item.name}}</span>
			<span>({{item.maxCharges-item.charges}})</span>
			<span class="deletebutton" ng-click="delete(item,char.abilities,$event)">&times;</span>
		</span>
	</div>
</td>

<td width="20%" style="vertical-align:top;text-align:center;">
	<input type="text" ng-model="newability.name" ng-change="checkForAbilities(newability.name)"/>
	<br>
	<input type="text" ng-model="newability.maxCharges"/>
	<br><br>
	<span class="button" ng-click="addAbility(newability)">Add to Abilities</span>
	<br>
	<span class="button" ng-click="shortRest()">Short Rest</span>
	<br>
	<span class="button" ng-click="longRest()">Long Rest</span>
	<br>
	<br>
	<br>

	<button style="display:none"></button>
</td>
<td>
<textarea class="descriptionbox" ng-model="newability.description" style="width:100%;min-height:400px;"></textarea>
</td>
</tr></tbody></table>
</div>
<!-- End Abilities -->


<div ng-show="tab=='equipment'">
<table style="width:100%;">
<thead class="header"><tr>
<th></th>
<th></th>
<th></th>
</tr>

<tbody><tr>

<td width="30%" style="vertical-align:top;">
	<div class="leftmenu scrollable">
		<div class="label">Equipped Items</div>
		<div class="yellowback item" ng-repeat="item in char.inventory | orderBy:'name' track by $index" ng-click="unequip(item)" ng-if="item.equipped"
		ng-mouseenter="setTip(item)" ng-mouseleave="clearTip()">
			<span style="font-weight:bold;">{{item.name}}</span>
			<span>({{item.count}})</span>
			<span class="deletebutton" ng-click="delete(item,char.equipment,$event)">&times;</span>
		</div>
		<br>
		<div class="label">Inventory</div>
		<div class="yellowback item" ng-repeat="item in char.inventory | orderBy:'name' track by $index" ng-click="item.equipped=true" ng-if="!(item.equipped)"
		ng-mouseenter="setTip(item)" ng-mouseleave="clearTip()">
			<span style="font-weight:bold;">{{item.name}}</span>
			<span>({{item.count}})</span>
			<span class="deletebutton" ng-click="delete(item,char.inventory,$event)">&times;</span>
		</div>
	</div>
</td>

<td width="50%" style="vertical-align:top;text-align:center;">
	<input type="text" ng-model="item.name" placeholder="Item name..." ng-change="checkItems()"/>
	<br>
	<input type="text" ng-model="item.count" placeholder="Quantity..."/>
	<br>
	<span class="button" ng-click="add(item,char.inventory)">&laquo; Inventory</span>
	<span class="button" ng-click="char.proficiencies.upush(item.name)">Proficiencies &raquo;</span>
	<br>
	<textarea ng-model='item.description' style="min-width:90%;max-width:90%;min-height:400px;font-size:1.3em"></textarea>
</td>

<td width="20%" style="vertical-align:top;text-align:center;">
	<div class="label">Proficiencies and Languages</div>
	<input type="text" ng-model='profSearch' placeholder="Search..." />
	<div class="leftmenu scrollable">
		<div class="greenback item" ng-repeat="item in char.proficiencies | filter:profSearch | orderBy:'name'">
			<span style="font-weight:bold;">{{item}}</span>
			<span class="deletebutton" ng-click="delete(item,char.proficiencies,$event)">&times;</span>
		</div>
	</div>
</td>

</tr></tbody></table>
</div>
<!-- End equipment -->


<div ng-show="tab=='spells'">
<table style="width:100%;">
<tbody><tr>
<td width="30%" style="vertical-align:top;">
	<div class="leftmenu scrollable">
		<div class="label">Known Spells</div>
		<input type="text" ng-model="combatSpellFilter" placeholder="Filter spells..."/>
		<br><br>
		<span class="item" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]" style="padding:8px 10px;"
				ng-class="{'greenback':knownSpellLevelFilter[i]}"
				ng-click="knownSpellLevelFilter[i]=!knownSpellLevelFilter[i]">{{i}}</span>
		<br><br>
		<div class="label">Cantrips</div>
		<div class="greenback prepared item" ng-repeat="spell in knownSpells | filter:combatSpellFilter | orderBy:'name' track by $index"
				ng-click="selectSpell(spell)" ng-class="{'selected':chosenSpell==spell}" ng-if="spell.level==0"
				ng-show="knownSpellLevelFilter[0]">
			<span style="font-weight:bold;">{{spell.name}}</span>
			<span class="deletebutton" ng-if="false" ng-click="delete(spell,char.spells,$event)">&times;</span>			
		</div>
		<br>
		<div ng-repeat="lv in [1,2,3,4,5,6,7,8,9]" ng-show="knownSpellLevelFilter[lv]">
			<div class="label">Level {{lv}}</div>
			<div class="greenback item" ng-repeat="spell in knownSpells | filter:combatSpellFilter | orderBy:'name' track by $index" ng-click="selectSpell(spell)" ng-class="{'selected':chosenSpell==spell,'prepared':spell.prepared}" ng-if="spell.level==lv">
				<span style="font-weight:bold;">{{spell.name}}</span>
				<span ng-if="!spell.alwaysPrepared" ng-show="spell.prepared" class="preparedSpell" ng-click="prepSpell(spell,$event)">prepared</span>
				<span ng-if="!spell.alwaysPrepared" ng-show="!spell.prepared" class="preparedSpell" ng-click="prepSpell(spell,$event)">unprepared</span>
				<span class="deletebutton" ng-if="false" ng-click="delete(spell,char.spells,$event)">&times;</span>			
			</div>
			<br>
		</div>
	</div>
</td>

<td width="25%" style="vertical-align:top;">
<div class="label">Spell Preview</div>
<div class="greenback item" ng-repeat="lv in [0,1,2,3,4,5,6,7,8,9]"
		ng-mouseenter="setTip(chosenSpell,lv)"
		ng-class="{'grey':chosenSpell.level>lv}">Level {{lv}}</div>
		<br>
<div class="redback item" ng-click='selectSpell(null);clearTip()'>Clear Selection</div>
</td>

<td style="vertical-align:top;">
	<span class="label">Spell Name</span>
	<br>
	<input type="text" placeholder="Spell Name" ng-model="newspell.name"/>
	<br></br>
	<span class="label">Spell Level</span>
	</br>
	<input type="text" placeholder="Spell Level" ng-model="newspell.level"/>
	<br>
	<span class="label">Spell Description</span>
	<textarea class="descriptionbox" ng-model="newspell.description" style="width:100%;min-height:400px;"></textarea>
	<button ng-click="add(newspell,char.spells)">Add to Spells</button>

</td>
</tr>
</tbody></table>
</div>
<!-- End Spells -->


<div ng-show="tab=='combat'">
<table style="width:100%;"><thead class="label center"><tr>
	<th>Abilities</th>
	<th>Spells</th>
	<th>Initiative Order</th>
</tr></thead>
<tbody><tr>
	<td width="30%" style="vertical-align:top;">
		<div class="leftmenu" style="overflow-y:auto;height:calc(100vh - 150px);">
			<div class="greenback item" ng-repeat="item in char.abilities | orderBy:'name' track by $index"
					ng-click="decrementCharges(item)"
					ng-if="item.charges>0"
					ng-mouseenter="setTip(item)" ng-mouseleave="clearTip()">
				<span style="font-weight:bold;">{{item.name}}</span>
				<span>({{item.charges}})</span>
			</div>
			
			<br>
			<div class="label">Items</div>
			<div class="yellowback item" ng-repeat="item in char.equipment | orderBy:'name' track by $index" ng-if="combatRelevant(item)" ng-mouseenter="setTip(item)">
				<span style="font-weight:bold;">{{item.name}}</span>
				<span>({{item.count}})</span>
			</div>
			<div class="yellowback item" ng-repeat="item in char.inventory | orderBy:'name' track by $index" ng-if="combatRelevant(item)" ng-mouseenter="setTip(item)">
				<span style="font-weight:bold;">{{item.name}}</span>
				<span>({{item.count}})</span>
				<span class="deletebutton" ng-click="delete(item,char.inventory,$event)">&times;</span>
			</div>
		</div>
	</td>

	<td width="30%" style="vertical-align:top;">
		<div class="leftmenu" style="overflow-y:auto;height:calc(100vh - 150px);">
			<input type="text" placeholder="Filter spells..." ng-model="combatSpellFilter" />
			<br><br>
			<span class="item" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]" style="padding:8px 10px;"
					ng-class="{'greenback':combatSpellLevelFilter[i]}"
					ng-click="combatSpellLevelFilter[i]=!combatSpellLevelFilter[i]">{{i}}</span>
					<br><br>
			<div class="label">Cantrips</div>
			<div class="greenback item" ng-repeat="spell in knownSpells | filter:combatSpellFilter | orderBy:'name' track by $index"
					ng-mouseenter="setTip(spell,lv)" ng-mouseleave="clearTip()" ng-if="spell.level==0"
					ng-show="combatSpellLevelFilter[0]">
				<span style="font-weight:bold;">{{spell.name}}</span>
			</div>
			<br>
			<div ng-repeat="lv in [1,2,3,4,5,6,7,8,9]" ng-show="highestSlot()>=lv && combatSpellLevelFilter[lv]">
				<div class="label">Level {{lv}}</div>
				<div class="greenback item" ng-repeat="spell in knownSpells | filter:combatSpellFilter | orderBy:'name' track by $index" ng-if="spell.level<=lv && spell.prepared && spell.level>0" ng-mouseenter="setTip(spell,lv)" ng-mouseleave="clearTip()">
					<span style="font-weight:bold;">{{spell.name}}</span>
				</div>
				<br>
			</div>
		</div>
	</td>

	<td width="40%" style="vertical-align:top;">
	<div>
		<form ng-submit="addInitiative()">
			<input type='text' placeholder="Enter Name" ng-model="newInitiative"/>
		</form>
		<div ng-repeat="item in initiativeOrder" ng-click="initUp(item)" class="yellowback item">
			{{item}}
			<span class="deletebutton" ng-click="deleteInit(item,$event)">&times;</span>
		</div>
		<button class="redback item" ng-click="initiativeOrder=[]">Clear Initiative</button>
	</div>
	<textarea class="descriptionbox2" ng-show="tooltip" ng-model="tooltip" style="width:100%;min-height:400px;"></textarea>
	</td>

	</tr>
	</tbody>
	</table>
</div>
<!-- End Combat -->

<div ng-show="tab=='notes'">
	<textarea ng-model='char.notes' style="margin-left: -4px;margin-top: 10px;width: 100%;height: 800px;"></textarea>
</div>

<div ng-show="tab=='raw'">{{char}}</div>


<div ng-show="tab=='reference'">
	
	<div ng-show="subtab='spells'">
	<table style="width:100%;"><thead class='label'><tr>
		<th>Spells</th>
		<th>Filters</th>
		<th>&nbsp;</th>
	</tr></thead><tbody><tr>
	<td style="width:340px;max-width:340px;display:inherit;vertical-align:top;">
		<div class="scrollable" style="max-height:calc(100vh - 90px)">
			<input style="width:340px;" type="text" ng-model="spellSearch" placeholder="Filter..."/>
			<div class="item greenback" ng-repeat="spell in filteredSpellList | filter:spellSearch"
					ng-mouseenter="setTip(spell,spell.level)" ng-mouseleave="clearTip()">{{spell.name}} ({{spell.level}})</div>
		</div>
	</td>
	<td style="width:25%;vertical-align:top;margin-left:10px">
	<br>
		<span class="item" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]" style="padding:8px 10px;"
				ng-class="{'greenback':spellFilters.levels[i]}"
				ng-click="spellFilters.levels[i]=!spellFilters.levels[i];updateSpellFilter()">{{i}}</span>
<br><br><table><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[0]}" ng-click="classFilterExclude(0)">Bard</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[0]}" ng-click="classFilterInclude(0)">Bard</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[1]}" ng-click="classFilterExclude(1)">Cleric</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[1]}" ng-click="classFilterInclude(1)">Cleric</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[2]}" ng-click="classFilterExclude(2)">Druid</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[2]}" ng-click="classFilterInclude(2)">Druid</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[3]}" ng-click="classFilterExclude(3)">Paladin</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[3]}" ng-click="classFilterInclude(3)">Paladin</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[4]}" ng-click="classFilterExclude(4)">Ranger</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[4]}" ng-click="classFilterInclude(4)">Ranger</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[5]}" ng-click="classFilterExclude(5)">Sorcerer</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[5]}" ng-click="classFilterInclude(5)">Sorcerer</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[6]}" ng-click="classFilterExclude(6)">Warlock</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[6]}" ng-click="classFilterInclude(6)">Warlock</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[7]}" ng-click="classFilterExclude(7)">Wizard</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[7]}" ng-click="classFilterInclude(7)">Wizard</div></td></tr>
	</table>

	</td>
	<td style="width: 50%;vertical-align: top;font-size: 1.3em;"></td>
	</tr></tbody></table>
	</div>
	
</div>
<!-- End Reference -->

<!-- Levelup Modal -->
<div class="leftModal" ng-class="{'show':currentChoices}">
	<div class="prompt">{{prompt}}</div>
	<br>
	<hr>
	<br>
	<div class="choice" ng-repeat="choice in currentChoices track by $index" ng-click="selectChoice(choice)"
			ng-mouseenter="setTip(choice)" ng-mouseleave="clearTip()">
			{{choice.name || choice}}
			<span ng-show="choice.level">({{choice.level}})</span>
	</div>
</div>

<!-- Tooltip Modal-->
<div class="rightModal" ng-class="{'show':currentChoices || tip}" ng-mouseenter="renewTip()" ng-mouseleave="clearTip()">
	<div>
		<div class="label">{{tip.name || tip}}</div>
		<hr style="border-color:black;">
		<!-- Spell metadata -->
		<div ng-show="tip.level>=0" style="text-align:left">
			<div>
				Cast Time: {{tip.castTime}}
				<span style="float:right" ng-show="tip.components.verbal">Verbal</span>
			</div>
			<div>
				Duration: {{tip.duration}}
				<span style="float:right" ng-show="tip.components.somatic">Somatic</span>
			</div>
			<div>
				Range: {{tip.range}}
				<span style="float:right" ng-show="tip.ritual">Ritual</span>
			</div>
			<div ng-show="tip.components.material">
				Material component: {{tip.components.material}}
			</div>
			<br>
		</div>
		<!-- Item metadata -->
		<div ng-show="tip.value" style="text-align:left;">
			<div style="display:flex;">
				<div style="width:49%;text-align:left;">
					<div ng-show="tip.damage1">
						1H Damage: {{tip.damage1}} {{tip.damageType}}
					</div>
					<div ng-show="tip.damage2">
						2H Damage: {{tip.damage2}} {{tip.damageType}}
					</div>
					<div ng-show="tip.attackRange">
						Range: {{tip.attackRange[0]}}ft / {{tip.attackRange[1]}}ft
					</div>
					<div ng-show="tip.ac">
						AC: {{tip.ac}}
					</div>
				</div>
				<div style="width:49%;text-align:right;">
					<div ng-show="tip.finesse">Finesse</div>
					<div ng-show="tip.heavy">Heavy</div>
					<div ng-show="tip.reach">Reach</div>
					<div ng-show="tip.throwRange">Thrown</div>
				</div>
			</div>
			<br>
			<span class="footnote" ng-show="isWeapon(tip)">Your attack bonus with this item is +{{attackBonus(tip)}}</span>
		</div>
		<div ng-bind-html='evalTooltip(tip)' class="tipDescription"></div>
		<br>
		<!-- Background metadata -->
		<div ng-show="tip.featureName">
			<div class="label subheader">{{tip.featureName}}</div>
			<div class="tipDescription">{{tip.featureDescription}}</div>
		</div>
		<div ng-show="tip.saveDc" style="text-align:left;">
			<span ng-show="tip.casterClass" class="footnote label">Casting Class: {{tip.casterClass}}</span>
			<br>
			<span class="footnote">Spell Attack Bonus: +{{tip.attackBonus}}.</span>
			<br>
			<span class="footnote">Spell Save DC: {{tip.saveDc}}.</span>
		</div>
		<!-- Package metadata -->
		<div ng-show="tip.levels">
			<div ng-repeat="l in tip.levels track by $index"
				 ng-if="l.updates.length>0 && ($index>1 || ($index===0 && char.level===1) || ($index===1 && char.level>1)) && (getCharacterClass(char,tip.name)===null || getCharacterClass(char,tip.name).level<$index)">
				<div class="label subheader">Level {{$index===0?1:$index}}</div>
				<div ng-repeat="update in l.updates track by $index" ng-if="update.summary" class="summary">
					<span class="bold">{{update.summary.name}}</span> &mdash; <span style="white-space:pre-wrap;">{{evalTooltip(update.summary)}}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" style="display:flex;" ng-class="{'show':showSaveMenu}">
	<div class="half center">
		<div class="label">Save</div>
		<hr>
		<input type='text' ng-model='char.name' placeholder='Character Name'/>
		<span class="button large" ng-click="save()">Save</span>
	</div>
	<div class="half center">
		<div class="label">Load</div>
		<hr>
		<span class="button" style="font-family:'Cinzel Decorative'" ng-click="newChar()">Create New Character</span>
		<div class="button large" ng-repeat='item in saveList track by $index' ng-click="load($index)">{{item.name}}</div>
	</div>
</div>

</div>
</div>
<script src="./core/spells.js"></script>
<script src="./core/api.js"></script>
<script src="./packages/abilities.js"></script>
<script src="./core/packages.js"></script>

<script src="./packages/feats.js"></script>
<script src="./packages/items.js"></script>
<script src="./packages/races.js"></script>
<script src="./packages/backgrounds.js"></script>

<script src="./packages/barbarian.js"></script>
<script src="./packages/bard.js"></script>
<script src="./packages/cleric.js"></script>
<script src="./packages/druid.js"></script>
<script src="./packages/fighter.js"></script>
<script src="./packages/monk.js"></script>
<script src="./packages/paladin.js"></script>
<script src="./packages/ranger.js"></script>
<script src="./packages/rogue.js"></script>
<script src="./packages/sorcerer.js"></script>
<script src="./packages/warlock.js"></script>
<script src="./packages/wizard.js"></script>

<script src="./core/stats.js"></script>


</body>
</html>