<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./core/style.css">
<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Balthazar&family=Amiri&display=swap" rel="stylesheet">

<script src="libs/jquery.min.js"></script>
<script src="libs/angular.min.js"></script>
<script src="libs/angular-animate.js"></script>
<script src="libs/angular-sanitize.js"></script>
<script src="libs/d3.js"></script>
<script src="libs/arctext.js"></script>

</head>
<body style="background-color:#ffffff;width:100vw;margin:0px;font-family:'Balthazar', sans-serif;font-size:19px;">
<div ng-app="myApp">
<div ng-controller="MyController" ng-cloak>

<div style="display:flex;">
<span class="tab" ng-click="tab='general'" ng-class="{'activetab':tab=='general'}">General</span>
<span class="tab" ng-click="tab='combat'" ng-class="{'activetab':tab=='combat'}">Combat</span>
<span class="tab" ng-click="tab='adventure'" ng-class="{'activetab':tab=='adventure'}">Adventure</span>
<span class="tab" ng-click="tab='spells'" ng-class="{'activetab':tab=='spells'}">Spells</span>
<span class="tab" ng-click="tab='loot'" ng-class="{'activetab':tab=='loot'}">LOOt</span>
</div>

<div ng-show="tab=='general'">
	<table class="rulesTables"><tr>
		<td width="40%">
			<div class="box">
				<div class="rulesHeader">Conditions</div>
				<div class="boxContent" style="display:flex;">
					<div style="width:50%;padding:0px 4px;">
						<span class="subheader">Blinded</span>
						&bull; Automatically fail any ability check that requires sight.
						<br>&bull; Attack rolls against the creature have advantage.
						<br>&bull; The creature has disadvantage on attack rolls.
						<span class="subheader">Charmed</span>
						&bull; Charmed creatures can't attack the charmer.
						<br>&bull; The charmer has advantage on ability checks that interact socially with the creature.
						<span class="subheader">Deafened</span>
						&bull; Automatically fail any ability check that requires hearing.
						<span class="subheader">Frightened</span>
						&bull; Creature has disadvantage on ability checks and attack rolls while the source of its fear is within line of sight.
						<br>&bull; Can't willingly move closer to the source of its fear.
						<span class="subheader">Grappled</span>
						&bull; A grappled creature has 0 move speed.
						<br>&bull; The condition ends if the grappler is incapacitated, or if some effect removed the grappled creature from reach of the grappler.
						<span class="subheader">Incapacitated</span>
						&bull; Can't take actions or reactions.
						<span class="subheader">Invisible</span>
						&bull; Impossible to see without the aid of magic or a special sense (heavily obscured).
						<br>&bull; The creature CAN be detected by any noise that it makes or any tracks it leaves.
						<br>&bull; Attack rolls against the creature have disadvantage, and attack rolls made by the creature have advantage.
						<span class="subheader">Paralyzed</span>
						&bull; A paralyzed creature is incapacitated and can't move or speak.
						<br>&bull; The creature automatically fails Str and Dex saves.
						<br>&bull; Attack rolls against the creature have advantage.
						<br>&bull; Any attack made on the creature from up to 5 feet away is a critical hit.
						
					</div>
					<div style="width:50%;padding:0px 4px;">
						<span class="subheader">Petrified</span>
						&bull; A petrified creature is transformed, along with nonmagical objects it's wearing or carrying, into a solid inanimate substance.
						<br>&bull; The creature is incapacitated, can't move or speak, and is unaware of its surroundings.
						<br>&bull; Attack rolls against the creature have advantage.
						<br>&bull; Automatically fails Str and Dex saves.
						<br>&bull; Resistance to all damage.
						<br>&bull; Immune to poison and disease, though poison and disease already in its system are only suspended.
						<br>&bull; Weight of the creature increases by 10 times, and it doesn't age.
						<span class="subheader">Poisoned</span>
						&bull; Disadvantage on attack rolls and ability checks.
						<span class="subheader">Prone</span>
						&bull; Can crawl at half speed, or can stand by spending half its speed.
						<br>&bull; Disadvantage on attack rolls.
						<br>&bull; Attack rolls on the creature made from within 5 feet have advantage. Otherwise, attacks on the creature have disadvantage.
						<span class="subheader">Restrained</span>
						&bull; Speed becomes 0.
						<br>&bull; Disadvantage on Dex saves.
						<br>&bull; Attack rolls on the creature have advantage, and attack rolls made by the creature have disadvantage.
						<span class="subheader">Stunned</span>
						&bull; A stunned creature is incapacitated, can't move, and can only speak falteringly.
						<br>&bull; Automatically fail Str and Dex saves.
						<br>&bull; Attack rolls against the creature have advantage.
						<span class="subheader">Unconscious</span>
						&bull; The creature is incapacitated, can't move or speak, and is unaware of its surroundings.
						<br>&bull; The creature drops whatever it's holding and falls prone.
						<br>&bull; Automaticallly fails Str and Dex saves.
						<br>&bull; Attack rolls against the creature have advantage.
						<br>&bull; Any attack made within 5 feet of the creature that hits is a critical hit.						
					</div>
				</div>
			</div>
		</td>
		<td width="20%">
			<div class="box">
				<div class="rulesHeader">Cover</div>
				<div class="boxContent">
					<table style="width:100%" class="borders">
						<thead><tr><th>Cover</th><th>Effect</th></tr></thead>
						<tbody>
							<tr>
								<td>1/2 Cover</td>
								<td>+2 Bonus to AC and Dex saving throws.</td>
							</tr>
							<tr>
								<td>3/4 Cover</td>
								<td>+5 Bonus to AC and Dex daving throws.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="box">
				<div class="rulesHeader">Improvised Damage</div>
				<div class="boxContent">
					<table style="width:100%" class="borders">
						<thead><tr><th>CR</th><th>Minor</th><th>Dangerous</th><th>Deadly</th></tr></thead>
						<tbody>
							<tr>
								<td>1-4</td>
								<td>1d10</td>
								<td>2d10</td>
								<td>4d10</td>
							</tr>
							<tr>
								<td>5-10</td>
								<td>2d10</td>
								<td>4d10</td>
								<td>8d10</td>
							</tr>
							<tr>
								<td>11-16</td>
								<td>4d10</td>
								<td>10d10</td>
								<td>18d10</td>
							</tr>
							<tr>
								<td>17-20</td>
								<td>10d10</td>
								<td>18d10</td>
								<td>40d10</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="boxContent">
					<table style="width:100%" class="borders">
						<thead><tr><th>Hazard</th><th>Effect</th></tr></thead>
						<tbody>
							<tr>
								<td>Fall Damage</td>
								<td>1d6 Bludgeoning per 10 feet</td>
							</tr>
							<tr>
								<td>Consumed by fire</td>
								<td>2d10 Fire / round</td>
							</tr>
							<tr>
								<td>Falling rubble</td>
								<td>4d10 Bludgeoning</td>
							</tr>
							<tr>
								<td>Walking through lava</td>
								<td>10d10 Fire</td>
							</tr>
							<tr>
								<td>Submerged in lava</td>
								<td>18d10 Fire</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="box">
				<div class="rulesHeader">Damaging Objects</div>
				<div class="boxContent">
					<table style="width:100%" class="borders">
						<thead><tr><th>Material</th><th>AC</th></tr></thead>
						<tbody>
							<tr>
								<td>Cloth, Paper, Rope</td>
								<td>11</td>
							</tr>
							<tr>
								<td>Crystal, Glass, Ice</td>
								<td>13</td>
							</tr>
							<tr>
								<td>Wood, Bone</td>
								<td>15</td>
							</tr>
							<tr>
								<td>Stone</td>
								<td>17</td>
							</tr>
							<tr>
								<td>Iron, Steel</td>
								<td>19</td>
							</tr>
							<tr>
								<td>Mithril</td>
								<td>21</td>
							</tr>
							<tr>
								<td>Adamantine</td>
								<td>21</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="boxContent">
					<table style="width:100%" class="borders">
						<thead><tr><th>Object Size</th><th>Weak</th><th>Tough</th></tr></thead>
						<tbody>
							<tr>
								<td style="text-align:left;">Tiny
								<br>&emsp;Bottle, Lock</td>
								<td>1d4</td>
								<td>2d4</td>
							</tr>
							<tr>
								<td style="text-align:left;">Small
								<br>&emsp;Chest, Chain</td>
								<td>1d6</td>
								<td>3d6</td>
							</tr>
							<tr>
								<td style="text-align:left;">Medium
								<br>&emsp;Barrel, Wooden Door</td>
								<td>1d8</td>
								<td>4d8</td>
							</tr>
							<tr>
								<td style="text-align:left;">Large
								<br>&emsp;Cart, Heavy Door</td>
								<td>1d10</td>
								<td>5d10</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</td>
		<td width="20%">
			
		</td>
		<td width="20%">
			<div class="box">
				<div class="rulesHeader">Exhaustion</div>
				<div class="boxContent">
					<table style="width:100%" class="borders">
						<thead><tr><th>Level</th><th>Effect</th></tr></thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Disadvantage on ability checks</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Half speed</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Disadvantage on attack rolls and saving throws</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Max HP halved</td>
							</tr>
							<tr>
								<td>5</td>
								<td>0 Speed</td>
							</tr>
							<tr>
								<td>6</td>
								<td>Death</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="box">
				<div class="rulesHeader">Common Expenditures</div>
				<div class="boxContent">
					<table style="width:100%" class="borders">
						<thead><tr><th>Item</th><th>Cost</th></tr></thead>
						<tbody><tr></tr>
							<tr>
								<td style="text-align:left;">Ale</td>
								<td></td>
							</tr>
							<tr>
								<td>Mug<br>Gallon</td>
								<td>4 cp<br>2 sp</td>
							</tr>
							<tr>
								<td style="text-align:left;">Inn Stay (per day)</td>
								<td></td>
							</tr>
							<tr>
								<td>Squalid<br>Poor<br>Modest<br>Comfortable<br>Wealthy<br>Aristocratic</td>
								<td>7 cp<br>1 sp<br>5 sp<br>8 sp<br>2 gp<br>4 gp</td>
							</tr>
							<tr>
								<td style="text-align:left;">Meals (per day)</td>
								<td></td>
							</tr>
							<tr>
								<td>Squalid<br>Poor<br>Modest<br>Comfortable<br>Wealthy<br>Aristocratic</td>
								<td>3 cp<br>6 cp<br>3 sp<br>6 sp<br>8 sp<br>2 gp</td>
							</tr>
							<tr>
								<td style="text-align:left;">Wine</td>
								<td></td>
							</tr>
							<tr>
								<td>Common pitcher<br>Fine bottle</td>
								<td>2 sp<br>10 gp</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</td>
	</tr>
	</table>
</div>


<div ng-show="tab=='combat'" ng-click="dismissContextMenu()">

	<div class="contextMenu" id='contextMenu' style="display:none;">
		<div class="greenback item" ng-repeat="option in conditions | orderBy:'name'" ng-click="applyCondition(option)"
			ng-disabled="chosenMonster.conditionImmunities.has(option.name.toLowerCase())">{{option.name}}</div>
	</div>

	<table style="width:100%"><tbody><tr>
		<td style="width:400px;vertical-align: top;">
			<div id='initiativeDiv'>
				<form ng-submit="addInitiative()">
					<input type='text' placeholder="Enter Name" ng-model="newInitiative"/>
					<div class="nextInitiative" ng-click="initUp(initiativeOrder[0])"></div>
				</form>
				<div ng-repeat="item in initiativeOrder track by $index" ng-click="initUp(item)"
					 class="yellowback item" style="display:flex;"
					 ng-mouseenter="chooseMonster(item)"
					 ng-mouseleave="chooseMonster()"
					 ng-right-click="rightClickInitiative(item,$event)">
					<span style="flex: 3">{{item.name || item}}</span>
					<div class="conditionList">
						<span ng-repeat-start="condition in item.conditions track by $index"
							ng-mouseenter="focusConditionDuration($parent.$index, $index)"
							ng-mouseleave="unfocusConditionDuration($parent.$index, $index)">
							{{condition.name}} {{condition.duration}}
						</span>
						<input type="text" style="position:absolute;left:-300px;" ng-repeat-end
							ng-keydown="incrDuration(item, condition, $event)" />
					</div>
					<span class="deletebutton" ng-click="deleteInit(item,$event)">&times;</span>
				</div>
				<button class="redback item" ng-click="initiativeOrder=[]">Clear Initiative</button>
			</div>
			<hr>
			<input type="text" ng-model="creatureFilter" placeholder="Filter..."/>
			<div style="overflow-y:scroll;max-height:calc(100vh - 450px)">
				<table class="borders">
					<thead><tr>
						<th>Name</th>
						<th>CR</th>
						<th>Type</th>
						<th></th>
					</tr></thead>
					<tbody>
						<tr ng-repeat="creature in creatures | filter:creatureFilter" >
							<td style="width:30%">{{creature.name}}</td>
							<td style="width:10%">{{creature.cr}}</td>
							<td style="width:20%">{{creature.type}}</td>
							<td style="width:10%"><span class="button" ng-click="addToEncounter(creature)">^</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</td>
		<td style="vertical-align: top;display: flex;flex-wrap: wrap;">
			<div ng-repeat="creature in initiativeOrder track by $index"
				 class="creatureCard box" ng-if="creature.hpMax">
				 <div creature-tip creature="creature" editable="true"></div>
			</div>
		</td>
		</tr></tbody>
	</table>
</div>
<!-- End Combat -->

<div ng-show="tab=='adventure'" style="display:flex;">
	<div class="flex1">
		<div class="adventuremenu" ng-show="!chosenAdventure">
			<div ng-repeat="adv in adventures" class="adventurelist" ng-click="loadAdventure(adv)">{{adv}}</div>
		</div>
		<div id='adventurePage' ng-show="chosenAdventure"
			ng-click="appendPath()">
			<svg id='mapsvg' width="50vw" height="calc(100vh - 43px)"></svg>
		</div>
		<!--
		<div class="debug-coords" ng-show="chosenAdventure">
			{{coords}}
		</div>
		-->
		<div id="mapLabel" ng-show="chosenAdventure" ng-class="{'top':flipLabel}"
			ng-mouseenter="flipLabel = !flipLabel">
			<div id="mapText"></div>
		</div>
	</div>
	<div class="flex1 parchmentBackground">
		<div class="mapContent">
			<button ng-click="startPath()">Start</button>
			<button ng-click="endPath()">End</button>
			<textarea ng-model="currentPath" ></textarea>
			<br>
			<div class="backIcon" ng-click="goToParentArea()"></div>
			<div class="entry-heading">{{areaInfo.name}}</div>
			<div ng-repeat="entry in areaInfo.description">
				<div dnd-entry entry="entry"></div>
			</div>
			<br><br><br>
		</div>
	</div>
</div>

<div ng-show="tab=='spells'">
	<table style="width:100%;"><thead class='label'><tr>
		<th>Spells</th>
		<th>Filters</th>
		<th>&nbsp;</th>
	</tr></thead><tbody><tr>
	<td style="width:340px;max-width:340px;display:inherit;vertical-align:top;">
		<div style="overflow-y:scroll;height: calc(100vh - 150px);">
			<input style="width:340px;" type="text" ng-model="spellSearch" placeholder="Filter..."/>
			<div class="item greenback" ng-repeat="spell in filteredSpellList | filter:spellSearch"
					ng-mouseenter="setTip(spell,spell.level)" ng-mouseleave="clearTip()">{{spell.name}} ({{spell.level}})</div>
		</div>
	</td>
	<td style="width:25%;vertical-align:top;">
	<br>
		<span class="item" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]" style="padding:8px 10px;"
				ng-class="{'greenback':spellFilters.levels[i]}"
				ng-click="spellFilters.levels[i]=!spellFilters.levels[i];updateSpellFilter()">{{i}}</span>
<br><br><table><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[0]}" ng-click="classFilterExclude(0)">Bard</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[0]}" ng-click="classFilterInclude(0)">Bard</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[1]}" ng-click="classFilterExclude(1)">Cleric</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[1]}" ng-click="classFilterInclude(1)">Cleric</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[2]}" ng-click="classFilterExclude(2)">Druid</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[2]}" ng-click="classFilterInclude(2)">Druid</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[3]}" ng-click="classFilterExclude(3)">Paladin</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[3]}" ng-click="classFilterInclude(3)">Paladin</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[4]}" ng-click="classFilterExclude(4)">Ranger</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[4]}" ng-click="classFilterInclude(4)">Ranger</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[5]}" ng-click="classFilterExclude(5)">Sorcerer</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[5]}" ng-click="classFilterInclude(5)">Sorcerer</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[6]}" ng-click="classFilterExclude(6)">Warlock</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[6]}" ng-click="classFilterInclude(6)">Warlock</div></td></tr><tr>
		<td><div class="item" style="display:inherit;" ng-class="{'redback':spellFilters.excludeClass[7]}" ng-click="classFilterExclude(7)">Wizard</div></td>
		<td><div class="item" style="display:inherit;" ng-class="{'greenback':spellFilters.includeClass[7]}" ng-click="classFilterInclude(7)">Wizard</div></td></tr>
	</table>

	</td>
	<td style="width: 50%;vertical-align: top;font-size: 1.3em;"></td>
	</tr></tbody></table>
</div>
<!-- End Reference -->

<!-- Tooltip Modal-->
<div class="rightTip" ng-class="{'show':(currentChoices || tip) && tipRight}" ng-mouseenter="renewTip()" ng-mouseleave="clearTip()">
	<div ng-if="tip.cr===undefined" style="padding:40px">
		<div side-tip></div>
	</div>
	
	<!-- Creature statbox tooltip -->
	<div class="creatureCard box" ng-if="tip.cr" style="width:100%;padding:40px 0px 6px 0px;">
		<div creature-tip creature="tip"></div>
	</div>
</div>
<div class="leftTip" ng-class="{'show':(currentChoices || tip) && tipLeft}" ng-mouseenter="renewTip()" ng-mouseleave="clearTip()">
	<div ng-if="tip.cr===undefined" style="padding:40px">
		<div side-tip></div>
	</div>
	
	<!-- Creature statbox tooltip -->
	<div class="creatureCard box" ng-if="tip.cr" style="width:100%;padding:40px 0px 6px 0px;">
		<div creature-tip creature="tip"></div>
	</div>
</div>


<div ng-show="tab=='loot'">
	<table><tr>
		<td style="vertical-align:top;width:200px;">
			<input type="text" ng-model="lootLevel" placeholder="CR/Level" number />
			<button class="button" ng-click="loot=[]">Clear</button>
			<button class="button" ng-click="generateLoot()">Generate</button>
			<br><br>
			<div class="label">Merchants</div>
			<button ng-repeat="merch in merchants" ng-click="generateMerchant(merch)">{{merch.name}}</button>
		</td>
		<td style="display: flex;flex-wrap: wrap;">
			<input type="text" placeholder="Filter..." ng-model="lootFilter"
				style="width: 300px;margin-left: calc(50% - 150px);margin-right: calc(50% - 150px);"/>
			<div class="itembox" ng-repeat="item in loot |filter:lootFilter |orderBy:'description.length' track by $index"
					ng-click="setTip(item)" ng-mouseleave="clearTip()"
					style="cursor:pointer;">
				<div class="label subheader">
					{{item.name}}
				</div>
				<div style="white-space:pre-line;margin-top:-10px;" ng-show="item.description.length">
					{{item.description}}
				</div>
				<div class="itemfooter">
					<span class="left">Count: {{item.count}}</span>
					<span style="float:right">{{getCost(item.value)}}</span>
				</div>
			</div>
		</td>
	</tr></table>
</div>


</div>
</div>
<script src="./core/spells.js"></script>
<script src="./core/api.js"></script>
<script src="./packages/abilities.js"></script>
<script src="./core/packages.js"></script>

<script src="./core/monsters.js"></script>
<script src="./packages/items.js"></script>
<script src="./packages/itemModifiers.js"></script>
<script src="./packages/merchants.js"></script>
<script src="./packages/5eitems.js"></script>
<script src="./core/dm.js"></script>

</body>
</html>