<!DOCTYPE html>
<html lang="en">
<head>
<style>
span.button {
    padding: 8px;
    background: green;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

div.modal{
    position: absolute;
    background-color: white;
    box-shadow: 0 0 2px 1px black;
    width: 74%;
    height: 50%;
    padding: 3%;
    left: 10%;
	top: -60%;
	transition: 0.5s ease all;
}

div.modal.show{
	top: 10%;
	
}

div.prompt{
	text-align: center;
    font-size: 2em;
    font-weight: bold;
}

div.choice{
    font-size: 1.3em;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
    background-color: green;
    color: white;
    text-align: center;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="packages.js"></script>

<script>
var app=angular.module('myApp',[]);
app.controller('MyController',['$scope','$timeout','$http',function($scope,$timeout,$http){

$scope.char={
	maxHp:0,
	hp:0,
	level:0, //total level
	
	classes:[
	/*
		{
			name:'Test',
			level:1,
			subclass:null,
			spells:{
				known:[],
				prepared:[],
				slotsMax:[],//each index is max number of available slots for that level
				slotsAvailable:[]
			}
		}
	*/
	],
	//multipliers for save proficiencies
	saves:{
		str:0,dex:0,con:0,wis:0,int:0,cha:0
	},
	attributes:{
		str:10,dex:10,con:10,wis:10,int:10,cha:10
	},
	//These are proficiency multipliers and the attribute they benefit from
	skills:[
		{
			name:'Athletics',
			mult:0,
			attribute:'str'
		}
	],
	passives:[
		{
			name:'',
			description:'',
			//this can be a function. If it is, it will be evaluated on the standard update
			//after all core updates. sent in parameters: char, scope
			apply:null
		}
	],
	abilities:[
	/*
		{
			name:'',
			description:'',
			charges:1,
			onShortRest:null,
			onLongRest:function(char,abil){abil.charges=1;}
		}
	*/
	],
	proficiencies:[],//list of strings, can be items/languages/etc
	inventory:[
	/*
		{
			name:'',
			description:'',
			count:0,
			meleeRange:0,//usually 5 or 10, falsey means no attack
			meleeDamage:0,//can be static, or can be a function that gets sent char and scope
			throwRange:[30,60],//falsey means no attack
			throwDamage:0,//can be static, or can be a function that gets sent char and scope
			finesse:false,
			proficiencies:[]//char must have one of these to get proficiency bonus
		}
	*/
	]
};

//debugging: give character every skill from packages
for (var i=0;i<window.skills.length;i++){
	var found=false;
	for (var j=0;j<$scope.char.skills.length;j++){
		if ($scope.char.skills[i].name===window.skills[i].name){
			found=true;
			break;
		}
	}
	if (!found){
		$scope.char.skills.push({
			name:window.skills[i].name,
			mult:0,
			attr:window.skills[i].attribute
		});
	found=false;
	}
}

$scope.derived={
	modifiers:{
		str:0,dex:0,con:0,int:0,wis:0,cha:0
	},
	saves:{
		str:0,dex:0,con:0,int:0,wis:0,cha:0
	},
	skills:[
	/*
		{
			name:'Acrobatics',
			bonus:0
		}
	*/
	],
	initiative:0,
	moveSpeed:30,
	ac:10,
	proficiency:2,
	money:0,//all money will be stored in this var. The display will divide it up between copper, silver, gold, and platinum
}

var packages={
	classes:window.classes,
	feats:window.feats,
	spells:window.spells,
	races:window.races,
};
$scope.messages=[];

//temp variables
$scope.chosenClass=null;
$scope.chosenLevel=null;
$scope.updateStep=-1;
$scope.currentChoices=null;
$scope.chosenClassName=null;

$scope.charBackup={}; //in case something in the js fails

$scope.revert=function(){
	$scope.char=$scope.charBackup;
}

$scope.levelUpStart=function(){
	$scope.charBackup=angular.copy($scope.char);
	//show class selection
	$scope.currentChoices=[];
	$scope.updateStep=-1;
	$scope.prompt="Choose a class";
	for (var i=0;i<packages.classes.length;i++){
		if (!(packages.classes[i].requirements) || packages.classes[i].requirements($scope.char)){
			$scope.currentChoices.push(packages.classes[i].classname);
		}
	}
};

var getCharacterClass=function(className){
	for (var i=0;i<$scope.char.classes.length;i++){
		if ($scope.char.classes[i].name==className){
			return $scope.char.classes[i];
		}
	}
	return null;
}

var findClass=function(name){
	for (var i=0;i<packages.classes.length;i++){
		if (packages.classes[i].classname==name){
			return packages.classes[i];
		}
	}
	return null;
}

var findSubclass=function(classname, subclass){
	for (var i=0;i<packages.sunblasses.length;i++){
		if (packages.subclasses[i].classname==classname && packages.subclassws[i].subclass==subclass){
			return packages.subclasses[i];
		}
	}
	return null;
}

//return the next level the character is eligible to receive from the given class
var nextLevel=function(classname){
	for (var i=0;i<$scope.char.classes.length;i++){
		if ($scope.char.classes[i].name==classname){
			return 1 + $scope.char.classes[i].level;
		}
	}
	if ($scope.char.classes.length==0){
		return 0;
	}
	return 1;
}

var currentStep=function(){
	return $scope.chosenClass.levels[$scope.chosenLevel].updates[$scope.updateStep];
}

var goToNextStep=function(){
	$scope.updateStep++;
	if ($scope.chosenClass.levels[$scope.chosenLevel].updates.length==$scope.updateStep){
		//done with this levelup. See if we can apply a subclass level
		var sc=getCharacterClass($scope.chosenClass.classname).subclass;
		if (sc){
			sc = findSubclass($scope.chosenClass,sc);
			if (sc){
				$scope.updateStep=0;
				$scope.chosenClass=sc;
				$scope.currentChoices=null;
				setupForCurrentStep();
			}
		} else {
			//done with levelup
			$scope.char.level++;
			getCharacterClass($scope.chosenClassName).level=$scope.chosenLevel;
			$scope.chosenClass=null;
			$scope.chosenLevel=null;
			$scope.updateStep=-1;
			$scope.currentChoices=null;
			$scope.chosenClassName=null;
		}
	} else {
		setupForCurrentStep();
	}
}

var setupForCurrentStep=function(){
	var step = currentStep();
	if (step.choices.length>0){
		//setup choice selection
		//first, execute any functions that are in the choice array.
		//all choice functions take char and derived as arguments
		$scope.currentChoices=[];
		for (var i=0;i<step.choices.length;i++){
			if (step.choices[i] && typeof(step.choices[i]) === 'function'){
				var subArray = step.choices[i]($scope.char,$scope.derived,$scope.chosenClass);
				if (subArray){
					$scope.currentChoices=$scope.currentChoices.concat(subArray);
				}
			} else {
				$scope.currentChoices.push(step.choices[i]);
			}
		}
		//if, after all of this, there are no choices to make, send in something bogus
		if ($scope.currentChoices.length==0){
			step.action($scope.char,$scope.derived,null);
			goToNextStep();
		} else {
			$scope.prompt=step.choicePrompt;
		}
	} else {
		//just do the update
		step.action($scope.char,$scope.derived,null);
		goToNextStep();
	}
}

$scope.selectChoice=function(choice){
	$scope.currentChoices=null;
	if ($scope.chosenClass===null){
		//they chose a class
		$scope.chosenClassName=choice;
		$scope.chosenClass=findClass(choice);
		$scope.chosenLevel=nextLevel($scope.char,choice);
		$scope.updateStep=0;
		//add the class entry on the character object
		if ($scope.chosenLevel==0){
			$scope.char.classes.push({
				name:$scope.chosenClass.classname,
				level:1,
				subclass:null,
				spells:{
					known:[],
					prepared:[],
					slotsMax:[],//each index is max number of available slots for that level
					slotsAvailable:[]
				}
			});
		} else {
		// update the existing class entry
			getCharacterClass($scope.chosenClass.classname).level+=1;
		}
		//setup the first update step
		setupForCurrentStep();
	} else {
		//they chose an option within a class package
		var step = currentStep();
		step.action($scope.char,$scope.derived,choice);
		goToNextStep();
	}
};


}]);
</script>

</head>
<body>
<div ng-app='myApp'>
<div ng-controller='MyController'>

<div class="modal" ng-class="{'show':currentChoices}">
	<div class="prompt">{{prompt}}</div>
	<br>
	<hr>
	<br>
	<div class="choice" ng-repeat="choice in currentChoices" ng-click="selectChoice(choice)">{{choice.name || choice}}</div>
</div>

<span class="button" ng-click="levelUpStart()">Level Up</span>

{{char}}

<br><br><br><br>
<div ng-repeat="message in messages">{{message}}</div>

</div> <!--End Controller-->
</div> <!-- End app-->
</body>