<!DOCTYPE html>
<html>
<head>
<script src="../libs/jquery.min.js"></script>
<script src="../libs/angular.min.js"></script>
<script src="../libs/angular-animate.js"></script>

</head>
<body style="background-color:#ffffff;">
<script type="text/javascript">

var app=angular.module('myApp',[]);
app.controller('MyController',['$scope',function($scope){

$scope.calculate=function(){
	$scope.answer="";
	var start = parseInt($scope.start);
	var end = parseInt($scope.end);
	var length = parseInt($scope.end)-parseInt($scope.start);
	var samplesPerBeat = length/parseInt($scope.beats);
	if ($scope.formula.indexOf('N')==-1 && $scope.formula.indexOf('n')==-1){
		//each item in STINGER is a beat number
		var beats = $scope.formula.split(',');
		for (let beat of beats){
			let sample = start + parseInt(beat) * samplesPerBeat;
			$scope.answer = $scope.answer + Math.round(sample) + ",";
		}
		return;
	}
	var rex = /(\d+)[Nn] ?([-+])? ?([0-9.]+)?/;
	var match = $scope.formula.match(rex);
	var coefficient = parseInt(match[1]);
	var offset = 0;
	if (match.length>2 && match[2]){
		offset = parseFloat(match[3]);
		if (match[2]=='-'){
			offset*=-1;
		}
	}
	if (offset<0){
		start = start + (-offset*samplesPerBeat);
	}
	for (var s = start + (offset*samplesPerBeat); s <= end ; s+= (coefficient * samplesPerBeat)){
		$scope.answer = $scope.answer + Math.round(s) + ",";
	}
}

}]);


</script>

<div ng-app="myApp">
<div ng-controller="MyController">

	<div>Loopstart
		<input type="text" ng-model="start" />
	</div>
	<div>Loopend
		<input type="text" ng-model="end" />
	</div>
	<div>Beats total
		<input type="text" ng-model="beats" />
	</div>
	<div>Formula
		<input type="text" ng-model="formula" />
	</div>
	<button ng-click="calculate()">Calculate</button>
	
	<br>
	
	<p>{{answer}}</p>
	
	<br><br><br>
	<p>Beats total is the number of beats in the loop, including only one of the llopstart/loopends (loopstart and loopend are technically on the same beat). This will most likely be an even number.</p>
	<p>Formula can be one of two things. It can either be a list of numbers, each of which is a beat number.</p>
	<p>It can also be a string in the format Xn + Y or Xn - Y, where X and Y are numbers and n is the letter n. n represents each beat, X represents how many beats to skip before looping, and Y is a beat offset.</p>
	<p>For example, to jump to the stinger on any 4th beat, you would simply put 4n.</p>
	<p>The very beginning of the loop is beat 0, not beat 1. The beat counts are at the end of each beat.</p>

</div>
</div>

</body>
</html>