@media (min-width: 768px) and (max-width: 1024px) {
	div.rightModal{
		left:98%;
		width:43%;
		min-height:136%;
		max-height:136%;
	}
	div.rightModal.show{
		left:98%;
	}
	.desktop{
		display:none;
	}
	.scrollable{
	    max-height: calc(130vh);
		height: auto;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

@media (min-width:1025px){
	.tablet{
		display:none;
	}
}