@media (min-width: 768px) and (max-width: 1024px) {
	div.rightModal{
		display:none;
	}
	div.rightModal.show{
		display:block;
	}
	.desktop{
		display:none;
	}
	.scrollable{
	    max-height: calc(130vh);
		height: auto;
	}
	.modal{
		display:none;
	}
	.modal.show{
		display:block;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

@media (min-width:1025px){
	.tablet{
		display:none;
	}
}