<div class="monsterHeader">
	<div class="headerBg"></div>
	<span class="white label">{{tip.name}}</span><span class="white"> (CR {{tip.cr}})</span>
</div>
<div style="position:relative;text-align:left;">
	<span style="font-size:1.3em">Max HP: {{tip.hp}}</span>
	<table class="borders" style="display:inline-table; width:30%;margin-left:40px;"><thead><tr><th>Walk</th><th>Fly</th><th>Swim</th></tr>
		<tbody><tr>
			<td>{{tip.speed.walk || 0}}</td>
			<td>{{tip.speed.fly || 0}}</td>
			<td>{{tip.speed.swim || 0}}</td>
		</tr></tbody>
	</table>
	<div style="position:absolute;right:4px;top:8px;font-weight:bold;">{{tip.type}}</div>
</div>
<div>
	<table class="borders full"><thead><tr>
		<th></th>
		<th>STR</th>
		<th>DEX</th>
		<th>CON</th>
		<th>INT</th>
		<th>WIS</th>
		<th>CHA</th>
	</tr></thead>
	<tr>
		<td>AC {{tip.ac}}</td>
		<td>{{att(tip,'str')}}</td>
		<td>{{att(tip,'dex')}}</td>
		<td>{{att(tip,'con')}}</td>
		<td>{{att(tip,'int')}}</td>
		<td>{{att(tip,'wis')}}</td>
		<td>{{att(tip,'cha')}}</td>
	</tr>
	<tr>
		<td>Saves:</td>
		<td>{{saveBonus(tip,'str')}}</td>
		<td>{{saveBonus(tip,'dex')}}</td>
		<td>{{saveBonus(tip,'con')}}</td>
		<td>{{saveBonus(tip,'int')}}</td>
		<td>{{saveBonus(tip,'wis')}}</td>
		<td>{{saveBonus(tip,'cha')}}</td>
	</tr>
	</table>
</div>
<div ng-if="tip.immunities.length>0
|| tip.conditionImmunities.length>0
|| tip.resistances.length>0
|| tip.vulnerabilities.length>0">
	<span class="label subheader">Resistances and Vulnerabilities</span>
	<div ng-if="tip.immunities" style="margin-bottom:6px;">
		<span style="font-weight:bold;">Immune to &horbar; </span>{{tip.immunities.join(', ')}}
	</div>
	<div ng-if="tip.conditionImmunities" style="margin-bottom:6px;">
		<span style="font-weight:bold;">Immune to &horbar; </span>{{tip.conditionImmunities.join(', ')}}
	</div>
	<div ng-if="tip.resistances" style="margin-bottom:6px;">
		<span style="font-weight:bold;">Resistant to &horbar; </span>{{tip.resistances.join(', ')}}
	</div>
	<div ng-if="tip.vulnerabilities" style="margin-bottom:6px;">
		<span style="font-weight:bold;">Vulnerable to &horbar; </span>{{tip.vulnerabilities.join(', ')}}
	</div>
</div>
<div ng-if="tip.passives.length>0">
	<span class="label subheader">Passives</span>
	<table class="full" ng-repeat="p in tip.passives">
		<thead><tr><th ng-click="p.hidden=!p.hidden">{{p.name}}</th></tr></thead>
		<tbody ng-hide="p.hidden"><tr><td style="white-space: pre-wrap;">{{p.description}}</td></tr></tbody>
	</table>
</div>
<div ng-if="tip.actions">
	<span class="label subheader">Actions</span>
	<table class="full" ng-repeat="a in tip.actions">
		<thead><tr><th ng-click="a.hidden=!a.hidden">{{a.name}}</th></tr></thead>
		<tbody ng-hide="a.hidden"><tr><td style="white-space: pre-wrap;">{{a.description}}</td></tr></tbody>
	</table>
</div>
<div ng-if="tip.spellcasting">
	<span class="label subheader">Spellcasting</span>
	<div>{{tip.spellcasting.description}}</div>
	<div ng-if="tip.spellcasting.will">
		<span>At will: {{tip.spellcasting.will.join(', ')}}</span>
	</div>
	<div ng-if="tip.spellcasting.individual">
		<span>Individual uses: </span>
		<span ng-repeat="spell in tip.spellcasting.individual" class="spellButton"
				ng-click="spell.charges=spell.charges-1" ng-if="spell.charges">{{spell.name}} ({{spell.charges}})</span>
	</div>
	<div ng-if="tip.spellcasting.spells"> 
		<div ng-repeat="level in tip.spellcasting.spells"
			 ng-click="level.slots=level.slots-1">
			<span style="font-weight:bold;"> Level {{$index}} ({{level.slots}}): </span>
			<span ng-repeat="spell in level.spells" class="spellButton">{{spell}}</span>
		</div>
	</div>			
</div>