<div ng-switch="entry.type">
	<div ng-switch-when="list" class="entry-list">
		<ul>
			<li ng-repeat="s in content" compile="s"></li>
		</ul>
	</div>
	<div ng-switch-when="heading" class="entry-heading">{{entry.content}}</div>
	<div ng-switch-when="html">
		<div ng-bind-html="entry.content"></div>
	</div>
	<div ng-switch-when="description">
		<div class="entry-description" ng-bind-html="content"></div>
	</div>
	<div ng-switch-when="dmnote">
		<div class="entry-dmnote">
			<div ng-if="content[0].content">
				<div ng-repeat="e in content" dnd-entry entry="e"></div>
			</div>
			<div ng-if="!content[0].content" ng-bind-html="content" class="p"></div>
		</div>
	</div>
	<div ng-switch-when="table">
		<table>
			<thead><tr>
				<th ng-repeat="item in entry.content[0]">{{item}}</th>
			</tr></thead>
			<tbody>
				<tr ng-repeat="row in entry.content track by $index" ng-if="$index>0">
					<td ng-repeat="item in row">{{item}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-switch-when="link" class="entry-link" ng-click="goToLink(entry)">
		{{entry.content}}
	</div>
	
	<div ng-switch-default>
		<div compile="content" class="p"></div>
	</div>
</div>